[submodule "/src/kiss-icp"]
	path = src/kiss-icp
	url = https://github.com/PRBonn/kiss-icp.git
[submodule "3rdparty/LASzip"]
	path = src/cpp_pubsub/src/3rdparty
	url = https://github.com/LASzip/LASzip.git
